<%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>

        <section class="split">


            <div class="container">

                <% if(!currentUser) { %>
                    <div class="split">
                        <div>
                            log in for ez booking
                        </div>
                        <button onclick="location.href='/sign-in'">Sign in</button>
                    </div>
                    <% } %>

                        <form action='/flight/<%= booked._id %>/payment' method="POST">


                            <div class="head">
                                <h6>Contact Detail</h6>
                            </div>

                            <div class="travelers">

                                <div class="box">

                                    <h6>Select from contact list</h6>

                                    <label  class="form-label">Name title</label>
                                    <select class="form-select" aria-label="Default select example" name="traveler_title" required>
                                        <option value="Mr.">Mr.</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Ms.">Ms.</option>
                                    </select>

                                    <div class="split">
                                        <input class="input-line" type="text" name="contact_firstname" placeholder="First Name" required>
                                        <input class="input-line" type="text" name="contact_lastname" placeholder="Last Name" required>
                                    </div>

                                    <div class="split">
                                        <input class="input-line"  name="contact_phonenumber" placeholder="phone number"  
                                        type="tel" placeholder="0906485241" required>
                                        <input class="input-line" type="email" name="contact_email" 
                                            placeholder="E-mail" required>
                                    </div>

                                </div>


                            </div>


                            <div class="head">
                                <h6>Passenger infromation</h6>
                            </div>

                            <div class="travelers">

                                <% for(i=0; i < booked.seat; i++) { %>
                                    <div class="box">

                                        <h6>Tarveler <%= i+1 %>
                                        </h6>

                                        
                                        <label  class="form-label">Name title</label>
                                        <select class="form-select" aria-label="Default select example" name="traveler_title" required>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs.">Mrs.</option>
                                            <option value="Ms.">Ms.</option>
                                        </select>


                                        <div class="split">
                                            <input class="input-line" type="text" name="traveler_firstname" placeholder="First Name" required>
                                            <input class="input-line" type="text" name="traveler_lastname" placeholder="Last Name" required>
                                        </div>

                                        <div class="split">
                                            <div class="split">
                                                <input class="input-line" onfocus="(this.type='date')"
                                                    onblur="(this.type='text')" name="traveler_birthdate"
                                                    placeholder="Birth Date" required>
                                                <input class="input-line" type="text" name="traveler_nationallity"
                                                    placeholder="Nationallity" required>
                                            </div>
                                        </div>

                                        <h6>Passport detail</h6>
                                        <div class="split">
                                            <input class="input-line" type="text" name="traveler_passportnumber"
                                                placeholder="Passport number" required>
                                            <input class="input-line" onfocus="(this.type='date')"
                                                onblur="(this.type='text')" name="traveler_passportdate" 
                                                placeholder="Passport expired date" required>
                                        </div>

                                    </div>
                                    <% } %>


                            </div>

            </div>


            <div class="container">


                <div class="box">
                    <h4>Flight detail</h4>

                    <div class="split">


                        <div class="list-detail">
                            <img src="<%= flight.airlineName.icon %>" alt="Airline icon" width="60" height="60">
                            <% console.log("in booking") %>
                                <% console.log(flight) %>
                                    <div>
                                        <%= flight.airlineName.name %>
                                    </div>
                        </div>

                        <div class="list-detail">
                            <div>
                                <%= flight.departTime %>
                            </div>
                            <div>
                                <%= flight.from.city %>
                            </div>
                        </div>

                        <div class="text-center list-detail"><i class="fas fa-arrow-right"></i></div>

                        <div class="list-detail">
                            <div>
                                <%= flight.arriveTime%>
                            </div>
                            <div>
                                <%= flight.to.city %>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="box">

                    <h6>Flight cost</h6>
                    <h4>Flight cost detail</h4>

                    <h5>฿ <%= flight.flightCost %> x <%= booked.seat %> seat</h5>

                    <h6>Total cost = ฿ <%= flight.flightCost * parseInt(booked.seat) %>
                    </h6>

                </div>

                <div class="text-center">
                    <button class="mybtn" type="submit" value="<%= booked._id %>" name="booked_id">Next</button>
                </div>
                </form>

            </div>



        </section>




        <%- include('partials/footer.ejs') %>