<%- include('partials/header.ejs') %>


    <nav class="p-1 bg-dark text-white">
        <div class="split">
            <div class="container">
                <h6>Manager:<%= currentUser.firstname %></h6>
            </div>
            <div class="container text-end">
                <button class="mybtn" onclick="location.href='/sign-out'">log out</button>
            </div>
        </div>
    </nav>

    <section class="container">

        <form class="box" action='/manager' method="POST">

            <div class="d-flex">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Flight ID</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="flightID" placeholder="XX-XXX">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">AirlineName</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="airlineName" placeholder="AirlineName ">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Depart time</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="departTime" placeholder="Depart Time">
                </div> 
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Arrive time</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="arriveTime" placeholder="arriveTime">
                </div> 
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">From</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="from" placeholder="From">
                </div> 
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">To</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="to" placeholder="To">
                </div> 
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Flight cost</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="flightCost" placeholder="Flight cost">
                </div>

                <button type="submit" class="btn btn-outline-primary flex-fill">Add flight</button>
            </div>

        </form>

    </section>

    <section class="container">  
        
        <div class="split">
            <h2>Flights</h2>
            <form class="mb-3 split"  action='/manager/search' method="POST">
                <input type="text" class="form-control" id="exampleFormControlInput1" name="result" placeholder="Search">
                <button class="mybtn" type="submit"> Search <i class="fas fa-search"></i></button>
            </form>
        </div> 

         
      <form  action='/manager/sort' method="POST">
        <div class="split">
          <button type="submit" class="mybtn">Cost</button>
          <button type="submit" class="mybtn">Flight time</button>
          <button type="submit" class="mybtn">Stop</button>
          <button type="submit" class="mybtn">Airline</button>
        </div>
      </form>


        <table class="table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">FlightNumber</th>
                <th scope="col">AirlineName</th>
                <th scope="col">Depart Time</th>
                <th scope="col">Arrive Time</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">FlightCost</th>
            </tr>

        <% flights.forEach((flight, index) => { %>
            <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= flight.flightID %> </td>
                <td><%= flight.airlineName %></td>
                <td><%= flight.departTime %></td>
                <td><%= flight.arriveTime %></td>
                <td><%= flight.from%></td>
                <td><%= flight.to %></td>
                <td>฿ <%= flight.flightCost %></td>
            </tr>    
        <% }) %>
         

        </table>

    </section>



<%- include('partials/footer.ejs') %>