<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

  <div class="usercontainer">

    <!-- Tab -->
    <div class="tab-list">
      <ul class="list">
        <li><button  class="tab" onclick="location.href='/user/account'"> Account </button></li>
        <!-- <li><button  class="tab"> Change password </button></li> -->
        <li><button  class="tab" type="submit" onclick="location.href='/user/booking'"> Current booking </button></li>
  
        <!-- <li><button  class="tab"> Passenger detail </button></li> -->
        <!-- <li><button  class="tab"> DogePoint™ </button></li> -->
      </ul>
    </div>

    <div class="infos ">


      <!-- User Acount Start here -->

      <div class="info-head">

        <div class="titlename">
          <h6 class="title"> Account </h6>
        </div>

        <div class="titlebtn">  
          <button class="mybtn"> Edit </button>
        </div>
       
      </div>


      <div class="info" id="account">

        <div class="info-left">
          <h6 class="data"> Name           <%=":" + currentUser.title + currentUser.firstname + " " + currentUser.lastname%>  </h6>
          <h6 class="data"> Phone number   <%=":" + currentUser.phonenumber %>  </h6>
          <h6 class="data"> City           <%=": -" %>   </h6>
          <h6 class="data"> Nation         <%=": -" %>   </h6>
        </div>

        <div class="info-right">
          <h6 class="data"> tier           <%=":" + currentUser.tier %>   </h6>
          <h6 class="data"> Email          <%=":" + currentUser.email %> </h6>
          <h6 class="data"> Language       <%=": -" %>   </h6>
          <h6 class="data"> Time zone      <%=": -" %>   </h6>
        </div>
       
      </div>

       <!-- User Acount End here -->

       <!-- Reset Password Start here -->

      <!-- <div class="info-head">

        <div class="titlename">
          <h6 class="title"> Change Password </h6>
        </div>
       
      </div>


      <div class="info" id="password">

        <div class="pass-con">
          
          <div class="form-floating input">
            <input type="email" class="form-control data" id="floatingInput" name="oldpassword" placeholder="Old Password" required>
            <label for="floatingInput">Old password</label>
          </div>

          <div class="form-floating input">
            <input type="password" class="form-control data" id="floatingPassword" name="newpassword" placeholder="New Password" required>
            <label for="floatingPassword">New Password</label>
          </div>

          <div class="form-floating input">
            <input type="password" class="form-control data" id="floatingPassword" name="confirmpassword" placeholder="Confirm Password" required>
            <label for="floatingPassword">Confirm Password</label>
          </div>

          <div class="text-center">
            <button class="mybtn">Save</button>
          </div>
        </div>

      </div> -->

       <!-- Reset Password End here -->

       <!-- Current Booking Stary here -->
<!-- 
      <div class="info-head">

        <div class="titlename">
          <h6 class="title"> Current Booking </h6>
        </div>

        <div>
          <input type="text" placeholder="AirDoge ID">
        </div>
      
      </div>


      <div class="info" id="booking">

        <div class="left">
          <button class="mybtn"> Wait for payment</button>
        </div>
        
        <div class="middle">
          <button class="mybtn"> Payment confirmed</button>
        </div>

        <div class="right">
          <button class="mybtn"> Canceled </button>
        </div>

      </div>

      <div class="info" id="booking-list">


        <h6>AirDoge ID</h6>

        <div class="">
          <h5>Data</h5>
        </div>

      </div>

      
      <div class="info" id="booking-list">

        
        <h6>AirDoge ID</h6>

        <div class="">
          <h5>Data</h5>
        </div>

      </div> -->

      <!-- Current Booking End here -->


      <!-- Passenger detail Start here -->

      <!-- <div class="info-head">

        <div class="titlename">
          <h6 class="title"> Passenger detail </h6>
        </div>
       
      </div>


      <div class="info" id="password">

          
        <div class="info-head">

          <div class="titlename info-left">
            <h6 class="title"> Passenger 1 </h6>
          </div>

          <div class="titlename info-right">

            <button class="mybtn">edit</button>
          
            <button class="mybtn">Delete</button>
          </div>
    
        </div>

          
        <div class="info">
          <h5>Data</h5>
          <h5>Data</h5>
          <h5>Data</h5>
        </div>


            
        <div class="info-head">

          <div class="titlename info-left">
            <h6 class="title"> Passenger </h6>
          </div>

          <div class="titlename info-right">

            <button class="mybtn">edit</button>
          
            <button class="mybtn">Delete</button>
          </div>
    
        </div>

          
        <div class="info">
          <h5>Data</h5>
          <h5>Data</h5>
          <h5>Data</h5>
        </div>

      </div>

      
      <div class="info-head">

        <div class="titlename">
          <button class="title"> Add passenger detail </button>
        </div>
       
      </div> -->


      <!-- Passenger detail End here -->

      <!-- DogePoint Start here -->
      
      <!-- <div class="info-head">

        <div class="titlename">
          <h6 class="title"> DogePoint™ </h6>
        </div>
       
      </div>


      <div class="info" id="password">

        <h5>Something about point</h5>
        <h5>Current point : e</h5>
        <a href="#">Learn more about DogePoint™</a>>

      </div> -->

      <!-- DogePoint End here -->

    </div> 

    <!-- All the Infos end here -->

  </div>
  
  <!-- Container End here -->
    
<%- include('partials/footer.ejs') %>

