<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

    <div class="usercontainer">

         
        <div class="tab-list">
                <button class="tab" onclick="location.href='/user/account'"> Account </button>
                <button class="tab" onclick="location.href='/user/booking'"> Current booking </button>
        </div>

        <div class="infos ">



            <div class="info-head mb-5">

                <div class="titlename">
                    <h6 class="title"> Current Booking </h6>
                </div>

            </div>


            <% if( bookings.length == 0  ) { %>
            <div class="text-center">
                <h3>No result</h3>
            </div>
            <% } %>

            <% bookings.forEach((booking)=> { %>


                    <div class="row ms-2">
                        <div class="box col-6">
                            <h4>Flight detail</h4>
                            <div class="split">
                                <div class="list-detail">
                                    <img src="<%= booking.flight.airlineName.icon %>" alt="Airline icon" width="60"
                                        height="60">

                                    <div>
                                        <%= booking.flight.airlineName.name %>
                                    </div>
                                </div>

                                <div class="list-detail">
                                    <div>
                                        <%= booking.flight.departTime %>
                                    </div>
                                    <div>
                                        <%= booking.flight.from.city %>
                                    </div>
                                </div>

                                <div class="text-center list-detail"><i class="fas fa-arrow-right"></i></div>

                                <div class="list-detail">
                                    <div>
                                        <%= booking.flight.arriveTime %>
                                    </div>
                                    <div>
                                        <%= booking.flight.to.city %>
                                    </div>
                                </div>

                            </div>

                        </div>

                    
                        <div class=" box col-4">

                            <h6>Booking ID & Status</h6>
                            <div class="text-start">
                                <div>
                                    DogeAir ID:  <%= booking.bookingID %>
                                </div>
                                <div>
                                    Payment Status:  <%= booking.paymentstatus %>
                                </div>
                            </div>


                            <h6>Passenger detail</h6>
                            <% booking.travelers.forEach((traveler, index)=> { %>
                                <div> <%= index+1 %>. <%= traveler.title %> <%= traveler.firstname %> <%= traveler.lastname %></div>
                            <% }); %>
            
                        </div>
                    </div>


            <% }) %>

        </div>


    </div>

