<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

  <div class="usercontainer">

    <div class="tab-list">
        <button  class="tab" onclick="location.href='/user/account'"> Account </button>
        <button  class="tab" type="submit" onclick="location.href='/user/booking'"> Current booking </button>
    </div>

    <div class="container">

      <div class="box m-3 mb-0 row">

        <div class="col-6">
          <h6 class="title p-3"> Account </h6>
        </div>

      </div>

      <div class="row box mx-3">

        <div class="col-md-6">
          <h6 class="data"> Name  <%=": " + currentUser.title + currentUser.firstname + " " + currentUser.lastname%>  </h6>
          <h6 class="data"> Phone number <%=": " + currentUser.phonenumber %>  </h6>
        </div>

        <div class="col-md-6">
          <h6 class="data"> tier <%=": " + currentUser.tier %>   </h6>
          <h6 class="data"> Email <%=": " + currentUser.email %> </h6>
        </div>

        <hr>

        <div class="col-md-12">
          <h6>Current DogePoint™ <%=": " + currentUser.dogepoint %></h5>
        </div>
       
      </div>

    </div> 

  </div>
  

