<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>


        <div class="container">
            <div class="imagebanner">
            <div class="row justify-content-center">
                <div class="searchbox col-md-10 col-lg-7  my-5 p-5">


                    <button class="flight-tab pe-5 py-2">One way</button>
                    <button class="flight-tab notactive pe-5 py-2">Roundtrip</button>

                    <form class="" action='/flight/search' method="POST">

                        <div class="d-flex my-3" id="classradio">
                            <strong> Flight Class: </strong>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="all" name="flightclass"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    All
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="economy" name="flightclass"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Economy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="business" name="flightclass"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Buisness
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="first-class" name="flightclass"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    First-Class
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input mb-2 col-lg-6">
                                <label for="airportfrom" class="form-label fw-bold ">From</label>
                                <select class="form-select p-3" list="airports" name="from" id="airportfrom"
                                    placeholder="Ex.Thailand">>
                                    <% airports.forEach((airport)=> { %>
                                        <option value="<%= airport._id %>">
                                            <%= airport.city %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
    
                            <div class="input mb-2 col-lg-6">
                                <label for="airportto" class="form-label fw-bold">To</label>
                                <select class="form-select p-3" list="airports " name="to" id="airport"
                                    placeholder="Ex.Thailand">>
                                    <% airports.forEach((airport)=> { %>
                                        <option value="<%= airport._id %>">
                                            <%= airport.city %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>
                        </div>
                      

                        <div class="row">
                            <div class="mb-2 col-lg-6">
                                <label for="floatingLastname" class="form-label fw-bold">Depart date</label>
                                <input type="date" min="" class="form-control p-3" id="departDate" name="departDate"
                                    placeholder="" required>
                                
                            </div>

                            <div class="mb-2 col-lg-6">
                                <label for="returnDate" class="form-label fw-bold">Return date</label>
                                <input type="date" class="form-control  p-3 active-toggle" id="returnDate" name="returnDate"
                                    placeholder="" Disabled>
                                
                            </div>
                        </div>

                        
                        <div class="row">

                            <div class="mb-2 col-lg-6">
                                <label for="seatnum" class="form-label fw-bold">Seat</label>
                                <select class="form-select p-3" list="airports " name="seat" id="seatnum" required>
                                        <option value="1">1 seat</option>
                                        <option value="2">2 seat</option>
                                        <option value="3">3 seat</option>
                                        <option value="4">4 seat</option>
                                        <option value="5">5 seat</option>
                                        <option value="6">6 seat</option>
                                </select>
                            </div>

                       
                            <div class="mb-2 col-lg-6 text-center ">
                                <button type="submit" class="btn btn-warning searchbutton px-5 my-5">Search</button>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="col-xl-4 my-5 py-5" id="dogediv" >
                    <img src="\uploads\DogeCircle2.png" class="img-fluid" id="dogeicon">
                </div>
            </div>
            </div>
        </div>


        <%- include('../partials/footer.ejs') %>