<%- include('../partials/header.ejs') %>
  <%- include('../partials/nav.ejs') %>


    <div class="container box my-3">

      <h4>Departures flight <%= searchData.to %>
      </h4>
      <h6>Date of depart: <%= searchData.departDate %>
      </h6>
     
     
      <h6>Passenger seat: <%= searchData.seat %>
      </h6>
      <h6>Flight class: <%= searchData.flightclass %>
      </h6>

    </div>




    <div class="mb-3 d-flex flex-row-reverse container">

      <div class="dropdown" id="sort_cost">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
          aria-expanded="false">
          cost
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="cost_low" name="sort_type">Cost (Lowest)</button>
            </li>
            <!-- To sent a data to query without the need to store in DB -->
            <textarea class="hidden" name=flightclass><%= searchData.flightclass %></textarea>
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="cost_high" name="sort_type">Cost (Highest)</button>
            </li>
            <!-- To sent a data to query without the need to store in DB -->
            <textarea class="hidden" name=flightclass><%= searchData.flightclass %></textarea>
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
        </ul>
      </div>

      <div class="dropdown" id="sort_flight">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
          aria-expanded="false">
          Flight time
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="flight_low" name="sort_type">Flight time (Shotest)
              </button></li>
              <!-- To sent a data to query without the need to store in DB -->
            <textarea class="hidden" name=flightclass><%= searchData.flightclass %></textarea>
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="flight_high" name="sort_type">Flight time (Longest)
              </button></li>
              <!-- To sent a data to query without the need to store in DB -->
            <textarea class="hidden" name=flightclass><%= searchData.flightclass %></textarea>
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
        </ul>
      </div>

  



      <div class="dropdown" id="sort_class">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
          aria-expanded="false">
          class
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="all" name="flightclass">All
              </button></li>
              <!-- To sent a data to query without the need to store in DB -->
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="economy" name="flightclass">Economy
              </button></li>
              <!-- To sent a data to query without the need to store in DB -->
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="business" name="flightclass">Buisness
              </button></li>
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
          <form action='/flight/sort' method="POST">
            <li><button class="dropdown-item" type="submit" value="first-class" name="flightclass">First-Class
              </button></li>
            <textarea class="hidden" name=from><%= searchData.from %></textarea>
            <textarea class="hidden" name=to><%= searchData.to %></textarea>
            <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
            <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
            <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
            <textarea class="hidden" name=flag1 ><%= searchData.flag1  %></textarea>
            <textarea class="hidden" name=flag2><%= searchData.flag2  %></textarea>
          </form>
        </ul>
      </div>

    </div>

    <% flights.forEach((flight)=> { %>
      <% if( searchData.flag1 ) { %>
        <form class="" action='/flight/<%= flight._id %>/search_roundtrip' method="POST">
      <% } else { %>
        <form class="" action='/flight/<%= flight._id %>/confirm' method="POST">
      <% } %>
    
        <div class="container card mb-3">
          <div class="row align-items-center justify-content-center text-center" id=flightlist>

            <div class="list-detail  col-sm-4 col-xl-2" id="flightairline">
              <img src="<%= flight.airlineName.icon %>" alt="Airline icon" width="45" height="45">
              <div class="fw-bold">
                <%= flight.airlineName.name %>
              </div>
              <div class="">
                <%= flight.flightID %>
              </div>
            </div>

            <div class="list-detail col-4 col-sm-3 col-xl-1" id="flightfrom">
              <div class="fw-bold">
                <%= flight.departTime %>
              </div>
              <div class="">
                <%= flight.from.city %>
              </div>
            </div>

            <div class="list-detail col-3 col-sm-2 col-xl-1"><i class="fas fa-arrow-right"></i></div>
            
          <div class="list-detail col-4 col-sm-3 col-xl-1 " id="flightto">
            <div class="fw-bold">
              <%= flight.arriveTime%>
            </div>
            <div class="">
              <%= flight.to.city %>
            </div>
          </div>

          <div class="list-detail col-6 col-sm-6 col-md-3 col-xl-1" id="flighttime">
            <div class=" fw-bold">Estimate time <%= flight.totalTime %> hr</div>
            <% if (  flight.stop === 0  ) { %>
            <div class=""> non-stop </div>
            <% } else if (  flight.stop === 1  ) { %>
            <div class=""> 1 stop </div>
            <% }  else { %>
            <div class=""> +2-stop </div>
            <% } %>
          </div>
          
          <div class="list-detail col-6 col-sm-6 col-md-3 col-xl-2 text-start" id="flightclassinfo">
            <div class="">Bag Weight <%= flight.classdetail.baggage %> kg</div>
            <% if (  flight.classdetail.entertain ) { %>
            <div class=""> In-flight entertainment </div>
            <% }  if (  flight.classdetail.meal  ) { %>
            <div class=""> In-flight meal  </div>
            <% }  if (  flight.classdetail.wifi  ) { %>
            <div class=""> Free wifi </div>
            <% } if (  flight.classdetail.usb  ) {  %> 
              <div class=""> Power & USB Port </div>
            <% } %>       
          </div>
       
          <div class="list-detail col-5 col-sm-5 col-md-3 col-xl-2" id="flightcost">
            <div class="fw-bold">class: <%= flight.flightclass %></div>
            <div class="fw-bold text-gold">฿<%= flight.flightCost %> / person</div>
          </div>
          
          <div class="list-detail col-5 col-sm-5 col-md-3 col-xl-1 ">
            <button type="submit" class="btn btn-warning px-3" value="<%= flight._id %>" name="flightid"> Book </button>
          </div>

          </div>
        </div>


        <!-- To sent a data to query without the need to store in DB -->
        <textarea class="hidden" name=from><%= searchData.from %></textarea>
        <textarea class="hidden" name=to><%= searchData.to  %></textarea>
        <textarea class="hidden" name=departDate><%= searchData.departDate %></textarea>
        <textarea class="hidden" name=returnDate><%= searchData.returnDate  %></textarea>
        <textarea class="hidden" name=seat><%= searchData.seat  %></textarea>
      </form>
      <% }) %>




