<%- include('../partials/header.ejs') %>

    <div class="d-flex" style="height: 100%;">
        <div class="d-flex flex-column  p-3 text-white bg-dark" style="width: 280px; height: 100%;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img class="mb-3 mt-3"
                    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f9ed517-f705-42e3-960a-9d56d8bb2f67/d7gesj7-99f809b9-6219-4e50-8a59-d1fd1b41a350.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWY5ZWQ1MTctZjcwNS00MmUzLTk2MGEtOWQ1NmQ4YmIyZjY3XC9kN2dlc2o3LTk5ZjgwOWI5LTYyMTktNGU1MC04YTU5LWQxZmQxYjQxYTM1MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PeFz4A2VN7EPrkbSPt6cmhuhHLU4enYznwCE23GN85g"
                    alt="" width="50" height="50">
                <span class="fs-5">DogeAir</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/manager/flight" class="nav-link text-white">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#home" />
                        </svg>
                        Flights
                    </a>
                </li>
                <li>
                    <a href="/manager/airport" class="nav-link text-white active" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        Airports
                    </a>
                </li>
                <li>
                    <a href="/manager/airline" class="nav-link text-white" aria-current="page">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2" />
                        </svg>
                        Airlines
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/uploads/image-1623075887687.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>
                        <%= currentUser.firstname %>
                    </strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/sign-out">Sign out</a></li>
                </ul>
            </div>
        </div>

        <div class="w-100">
            <section class="container">

                <form class="box" action='/manager/<%= airport._id %>/airport-edit?_method=PUT' method="POST">

                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label">Airport name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="airport[name]"
                                    placeholder="<%= airport.name %>" value="<%= airport.name %>">
                            </div>
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label">Country</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="airport[country]"
                                placeholder="<%= airport.country %>" value="<%= airport.country %>">
                            </div>
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label">City</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" name="airport[city]"
                                placeholder="<%= airport.city %>" value="<%= airport.city %>">
                            </div>
                            <button type="submit" class="btn btn-outline-primary  col-md-2">Update Airport</button>
                        </div>
                    </div>

                </form>

            </section>
        </div>
    </div>